<fieldset class="answer">
  <div class="col-md-3">
    <%= f.input :answer, input_html: { autofocus: true } %>
  </div>
  <div class="col-md-3">
    <%= f.input :category, collection: CATEGORIES.map { |k, v|
        [t("questions.answers.long_type.#{k}"), v]
      }, prompt: true %>
  </div>
  <div class="col-md-3">
    <%= f.input :clarification %>
  </div>
  <div class="col-md-3">
    <%= f.input :order, as: :hidden, input_html: {
        class: :sort_number
      } %>
    <%= f.input :lock_version, as: :hidden %>
    <%= link_to_remove_nested_item f %>
  </div>
</fieldset>

<script type="text/javascript">
  FormUtil.completeSortNumbers();
</script>
