<div class="row">
  <div class="col-md-3">
    <%= f.input :clarification %>
  </div>
  <div class="col-md-3">
    <%= f.input :category, collection: Answer::CATEGORIES.map { |k, v|
        [t("questions.answers.long_type.#{k}"), v]
      }, prompt: true %>
  </div>
  <div class="col-md-3">
    <%= f.input :answer %>
  </div>
  <div class="col-md-3">
    <%= f.input :order, as: :hidden, class: :sort_number %>
    <%= remove_item_link(f) %>
    <%= hidden_lock_version(f) %>
  </div>
</div>
<script type="text/javascript">
  FormUtil.completeSortNumbers();
</script>
