<%= simple_form_for @question do |f| %>
  <%= content_for :js_extra do %>
    <%= raw "var answer='#{generate_template(f, :answers)}';" %>
  <% end %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-md-6">
      <%= f.input :dimension, collection: Question::DIMENSIONS.map { |d|
          ["#{d}. #{t(:"questions.dimensions.#{d}")}", d]
        }, prompt: true, autofocus: true %>
      <%= f.input :code %>
      <%= f.input :question %>
    </div>
  </div>

  <div id="answers" class="panel-body">
    <% @question.answers.build if @question.answers.empty? %>
    <%= f.simple_fields_for :answers do |a_f| %>
      <%= render partial: 'answer', locals: {f: a_f} %>
    <% end %>

    <%= link_to_add_fields t('questions.add_answer'), f, :answers, 'answer' %>
  </div>

  <%= hidden_lock_version(f) %>

  <hr />

  <div class="form-actions form-footer">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
<!--[eoform:question] -->
<script type="text/javascript">
  Helper.makeSortable('#answers', 'div.answer', 'a.move');
</script>
