<div class="questions">
<table>
  <thead>
    <tr>
      <th><%= Question.human_attribute_name :dimension %></th>
      <th><%= Question.human_attribute_name :code %></th>
      <th><%= Question.human_attribute_name :question %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr class="<%= cycle(:even, :odd) %>">
        <td><%= content_tag :acronym, question.dimension,
            :title => question.dimension_text %></td>
        <td><%= question.code %></td>
        <td><%= truncate(question.question, :length => 30, :omission => '...') %></td>
        <td><%= link_to_show question %></td>
        <td><%= link_to_edit edit_question_path(question) %></td>
        <td><%= link_to_destroy question %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div id="links">
  <%= pagination_links @questions %>
</div>
  

