<div class="questions">
<table>
  <thead>
    <tr>
      <th><%= Question.human_attribute_name :dimension %></th>
      <th><%= Question.human_attribute_name :code %></th>
      <th><%= Question.human_attribute_name :question %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr class="<%= cycle(:even, :odd) %>">
        <td><%= content_tag :acronym, question.dimension,
            :title => question.dimension_text %></td>
        <td><%= question.code %></td>
        <td><%= truncate(question.question, :length => 30, :omission => '...') %></td>
         <td><%= link_to '&#xe074;'.html_safe, question, :class => :iconic, 
        :title => t(:'labels.show'), :data => {:'show-tooltip' => true} %></td>
      <td><%= link_to '&#x270e;'.html_safe, edit_question_path(question), :class => :iconic,
        :title => (t:'labels.edit'), :data => {:'show-tooltip' => true} %></td>
        <td class="delete"><%= button_to t(:'labels.delete'), question,
            :confirm => t(:'messages.confirmation_question'), :method => :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>

<div id="links">
  <%= pagination_links @questions %>
</div>
  

