<table>
  <%= form_for :dump_questions, :url =>{:action => "csv_import_questions"}, :html => { :multipart => true } do |f| %>
  <tr>
    <td><strong><%= f.label t :'questions.import_file' %></strong></td>
    <td><%= f.file_field :file %></td>
  </tr>
  <tr>
    <td><%= f.submit t :'questions.attach_csv' %></td>
    <td></td>
  </tr>
<% end %>
</table>

<table>
  <%= form_for :dump_answers, :url => {:action => "csv_import_answers"}, :html => { :multipart => true } do |f| %>
  <tr>
    <td><strong><%= f.label t :'questions.answers.import_file' %></strong></td>
    <td><%= f.file_field :file %></td>
  </tr>
  <tr>
    <td><%= f.submit t :'questions.answers.attach_csv' %></td>
    <td></td>
  </tr>
<% end %>
</table>
