<%= javascript_include_tag 'pagination' %>

<div id="search_link">
  <%= link_to t(:'questions.search_questions'), '#', :class => 'search' %>
</div>
<div id="search_form" style="display: none;">
  <%= form_tag questions_path, :method => 'get', :id => "questions_search" do %>
    <div id="field">
      <%= text_field_tag :search, params[:search], :autofocus => true %>
    </div>
  <% end %>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= Question.human_attribute_name :dimension %></th>
      <th><%= Question.human_attribute_name :code %></th>
      <th><%= Question.human_attribute_name :question %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr class="<%= cycle(:even, :odd) %>">
        <td><%= content_tag :abbr, question.dimension,
            :title => question.dimension_text %></td>
        <td><%= question.code %></td>
        <td><%= truncate(question.question, :length => 30, :omission => '...') %></td>
        <td><%= link_to_show question %></td>
        <td><%= link_to_edit edit_question_path(question) %></td>
        <td><%= link_to_destroy question if @auth_user.admin? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr />

<div>
  <div class='pull-right'>
    <%= pagination_links @questions %>
  </div>
  <%= link_to t('labels.new'), new_question_path,
    class: 'btn btn-primary' %> |
  <%= link_to t('questions.import_csv_file'), import_csv_questions_path %>
</div>
