<table>
  <thead>
    <tr>
      <th><%= Question.human_attribute_name :dimension %></th>
      <th><%= Question.human_attribute_name :code %></th>
      <th><%= Question.human_attribute_name :question %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr class="<%= cycle(:even, :odd) %>">
        <td><%= content_tag :acronym, question.dimension,
            :title => question.dimension_text %></td>
        <td><%=h question.code %></td>
        <td><%=h truncate(question.question, :length => 30, :omission => '...') %></td>
        <td><%= link_to t(:'labels.show'), question, :class => :real %></td>
        <td><%= link_to t(:'labels.edit'), edit_question_path(question),
            :class => :real %></td>
        <td><%= button_to t(:'labels.delete'), question,
            :confirm => t(:'messages.confirmation_question'), :method => :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div id="links">
  <%= pagination_links @questions %>
  <%= link_to t(:'questions.new_link'), new_question_path,
  :class => :important_action %>
</div>
<div id="links">
  <%= link_to t(:'questions.import_csv_file'), import_csv_questions_path, 
  :class => :important_action %>
</div>



