<%= javascript_include_tag 'pagination' %>

<div id="search_link">
<%= link_to t(:'questions.search_questions'), '#', :class => 'search' %>
</div>
<div id="search_form" style="display: none;">
  <%= form_tag questions_path, :method => 'get', :id => "questions_search" do %>
    <div id="field">
      <%= text_field_tag :search, params[:search] %>
    </div>
  <% end %>
   
  </div>

<div id="questions">
  <%= render :partial => 'questions' %>
</div>
  
<% if @auth_user.admin? %>
<div id="links">
  <%= link_to t(:'labels.new'), new_question_path,
  :class => :important_action %>
</div>
<div id="links">
  <%= link_to t(:'questions.import_csv_file'), import_csv_questions_path, 
  :class => :important_action %>
</div>
<% end %>

  





