<div id="search_link">
<%= link_to t(:'questions.search_questions'), '#', :class => 'search' %>
</div>
<div id="search_form" style="display: none;">
  <%= form_tag questions_path, :method => 'get', :id => "questions_search" do %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <div id="field">
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag t:'labels.search', :name => nil %>
    </div>
  <% end %>
  
    
  </div>

  <div id="questions"><%= render 'questions' %></div>
  





