<div id="showed_data">
  <p>
    <b><%= Question.human_attribute_name :dimension %>:</b>
    <%= @question.dimension_text %>
  </p>

  <p>
    <b><%= Question.human_attribute_name :code %>:</b>
    <%= @question.code %>
  </p>

  <p>
    <b><%= Question.human_attribute_name :question %>:</b>
    <%= @question.question %>
  </p>

<% unless @question.answers.empty? %>
  <p>
    <b><%= t(:'show.answer', :count => @question.answers.count)  %>:</b>
  </p>

  <table>
  <thead>
    <tr>
      <th><%= Answer.human_attribute_name :clarification %></th>
      <th><%= Answer.human_attribute_name :category %></th>
      <th><%= Answer.human_attribute_name :answer %></th>
      
    </tr>
  </thead>

  <tbody>

    <% @question.answers.each do |answer| %>
      <tr class="<%= cycle(:even, :odd) %>">
	<td><%= answer.clarification %></td>
	<td><%= t :"questions.answers.long_type.#{Answer::CATEGORIES.invert[answer.category]}" %></td>
	<td><%= answer.answer %></td>
      </tr>
    <% end %>

  </tbody>
  </table>
<% end %>
</div>

<div id="links">
  <% if @auth_user.admin? %>
    <%= link_to t(:'labels.edit'), edit_question_path(@question),
      :class => :real %> |
  <% end %>
  <%= link_to t(:'labels.list'), questions_path, :class => :real %> |
  ←<%= link_to_back %>
</div>
