<%= simple_form_for(@teaching_unit) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-md-6">
      <%= f.input :title, input_html: { maxlength: 255, autofocus: true } %>
    </div>
  </div>

  <h3><%= t('activerecord.models.questions') %></h3>

  <div id="questions">
    <% @teaching_unit.questions.build if @teaching_unit.questions.empty? %>
    <%= render partial: 'question', collection: @teaching_unit.questions,
      locals: {f: f} %>

    <%= link_to_add_fields t('projects.add_question'), f, :questions,
      'question' %>
  </div>

  <hr />

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
