<% id = f.object.object_id %>
<fieldset class="question">
  <div class="row">
    <div class="col-md-6">
      <% if f.object.new_record? %>
        <%= f.input :question, as: :string, label: false,
          input_html: {
            id: "teaching_unit_question_#{id}", class: :autocomplete_field,
            value: (f.object.question if f.object.persisted?), autofocus: true,
            data: {
              autocomplete_url: autocomplete_for_question_projects_path(format: :json),
              autocomplete_params: ({teaching_unit_id: @teaching_unit.id}.to_json unless @teaching_unit.new_record?),
              autocomplete_target: "#question_id_#{id}"
            }
          } %>
        <%= f.input :question, as: :hidden, input_html: {
          name: 'teaching_unit[question_ids][]', value: f.object.id,
          id: "question_id_#{id}", class: :autocomplete_id
        }%>
      <% else %>
        <p><strong><%= question.code %></strong> - <%= question.question %></p>
        <%= f.input :question, as: :hidden, input_html: {
            name: 'teaching_unit[question_ids][]', value:  question.id,
            id: "question_#{id}"
        } %>
      <% end %>
    </div>

    <div class="col-md-4">
      <%= link_to_remove_child_item f %>
    </div>
  </div>
</fieldset>
