<div id="search_link">
  <%= link_to t(:'teaching_units.search_teaching_units'), '#', :class => 'search' %>
</div>
<div id="search_form" style="display: none;">
  <%= form_tag teaching_units_path, :method => 'get', :id => "teaching_units_search" do %>
    <div id="field">
      <%= text_field_tag :search, params[:search], :autofocus => true %>
    </div>
  <% end %>
</div>

<table class="table table-hover">
  <tr>
    <th><%= TeachingUnit.human_attribute_name :title %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teaching_units.each do |teaching_unit| %>
  <tr class="<%= cycle(:even, :odd) %>">
    <td><%= teaching_unit.title %></td>
    <td><%= link_to_show teaching_unit %></td>
    <td><%= link_to_edit edit_teaching_unit_path(teaching_unit) %></td>
    <td><%= link_to_destroy teaching_unit if @auth_user.admin? %></td>
  </tr>
<% end %>
</table>

<hr />

<div>
  <div class='pull-right'>
    <%= pagination_links @teaching_units %>
  </div>
  <%= link_to t('labels.new'), new_teaching_unit_path, class: 'btn btn-primary' %>
</div>
