<table>
  <tr>
    <th><%= TeachingUnit.human_attribute_name :title %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teaching_units.each do |teaching_unit| %>
  <tr class="<%= cycle(:even, :odd) %>">
    <td><%= teaching_unit.title %></td>
    <td><%= link_to '&#xe074;'.html_safe, teaching_unit, :class => :iconic, 
      :title => t(:'labels.show'), :data => {:'show-tooltip' => true} %></td>
    <td><%= link_to_edit edit_teaching_unit_path(teaching_unit) %></td>
    <td><%= link_to_destroy teaching_unit %></td>
    </tr>
  </tr>
<% end %>
</table>

<div id="links">
  <%= pagination_links @teaching_units %>
  <%= link_to t(:'labels.new'), new_teaching_unit_path, :class => :important_action %>
</div>