<h2><%= @teaching_unit.title %></h2>

<% unless @teaching_unit.questions.empty? %>
  <strong><%= t 'activerecord.models.questions' %></strong>
  <ul>
    <% @teaching_unit.questions.each do |question| %>
      <li><%= "#{question.code} - #{question.question}" %></li>
    <% end %>
  </ul>
<% end %>

<hr />

<div>
  <%= link_to_back %> |
  <%= link_to t('labels.edit'), edit_teaching_unit_path(@teaching_unit) %> |
  <%= link_to t('labels.list'), teaching_units_path %>
</div>
