<div id="showed_data">
  <p>
    <b><%= TeachingUnit.human_attribute_name :title %>:</b>
    <%= @teaching_unit.title %>
  </p>
  <% unless @teaching_unit.questions.empty? %>
  <b><%= t(:'activerecord.models.questions') %>:</b>
  <ul>
  <% @teaching_unit.questions.each do |question| %>
      <li><%= "#{question.code} - #{question.question}" %></li>
  <% end %>
  </ul>
  <% end %>
</div>


<div id="links">
  <%= link_to_back %> 
  <%= link_to t(:'labels.edit'), edit_teaching_unit_path(@teaching_unit), :class => :real %> |
  <%= link_to t(:'labels.list'), teaching_units_path, :class => :real %>
</div>
