<div id="form_topics">
<%= form_for(@topic) do |f| %>
  <%= content_for :js_extra do %>
    <%= raw "var subtopic='#{escape_javascript(render(:partial => 'subtopic',
        :object => Subtopic.new, :locals => {:f => f}))}';" %>
  <% end %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  
  <div class="items">
    <div class="column_headers">
      <div class="item_column" style="width: 90%;">
        <h3><%= t(:'activerecord.models.subtopic') %></h3>
      </div>
      <div class="item_column" style="width: 10%;"></div>
      <div style="clear: both;">&nbsp;</div>
    </div>
    <div id="subtopics">
      <% @topic.subtopics.build if @topic.subtopics.empty? %>
      <%= render :partial => 'subtopic', :collection => @topic.subtopics,
        :locals => {:f => f} %>
    </div>
  </div>

  <p class="add_item">
    <%= link_to t(:'topics.add_new_subtopic'), '#',
      :'data-template' => :subtopic, :'data-event' => 'addNestedItem',
      :'data-container' => '#subtopics', :class => :important_action %>
  </p>  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
