<table>
  <tr>
    <th><%= Topic.human_attribute_name :title %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @topics.each do |topic| %>
  <tr class="<%= cycle(:even, :odd) %>">
    <td><%= topic.title %></td>
    <td><%= link_to_show topic %></td>
    <td><%= link_to_edit edit_topic_path(topic) %></td>
    <td><%= link_to_destroy topic %></td>
    </tr>
  </tr>
<% end %>
</table>

<div id="links">
  <%= pagination_links @topics %>
  <%= link_to t(:'labels.new'), new_topic_path, :class => :btn %>
</div>
