<table>
  <tr>
    <th><%= Topic.human_attribute_name :title %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @topics.each do |topic| %>
  <tr class="<%= cycle(:even, :odd) %>">
    <td><%= topic.title %></td>
    <td><%= link_to t(:'labels.show'), topic, :class => :real %></td>
    <td><%= link_to t(:'labels.edit'), edit_topic_path(topic), :class => :real %></td>
    <td class ="delete"><%= button_to t(:'labels.delete'), topic,
        :confirm => t(:'messages.confirmation_question'), :method => :delete %></td>
    </tr>
  </tr>
<% end %>
</table>

<div id="links">
<%= link_to t(:'labels.new'), new_topic_path, :class => :important_action %>
</div>
