<div id="showed_data">
  <p>
    <b><%= Topic.human_attribute_name :title %>:</b>
    <strong>[<%= @topic.code %>]<strong><%= @topic.title %>
  </p>
  <% unless @topic.subtopics.empty? %>
  <ul>
  <b><%= t(:'activerecord.model.subtopics') %>:</b>
  <% @topic.subtopics.each do |subtopic| %>
      <li><strong>[<%= subtopic.code %>]<strong><%= subtopic.title %></li>
  <% end %>
  </ul>
  <% end %>
</div>

<div id="links">
  <%= link_to t(:'labels.edit'), edit_topic_path(@topic), :class => :real %> |
  <%= link_to t(:'labels.list'), topics_path, :class => :real %> |
  ←<%= link_to_back %>
</div>
