<div id="degree_university">
  <% i18n_scope = [:projects, :sociodemographic_forms, :degree_university, :options] %>
  <div class ="field_degree">
    <strong>
      <%= t(:question, :scope => [:projects, :sociodemographic_forms, :degree_university]) %>
    </strong>
  </div>
  <ul class="horizontal_list">
    <% DEGREES_UNIVERSITY.each_with_index do |degree_university, i| %>
      <% degree_id = :"#{degree_university}_degree_university" %>
      <li>
        <% unless degree_university == DEGREES_UNIVERSITY.last %>
          <%= radio_button_tag 'project_instance[degree_university]', degree_university, 
            @project_instance.degree_university.eql?("#{degree_university}"), :id => degree_id %>
            <label for="<%= degree_id %>">
              <%= t(degree_university, :scope => i18n_scope) %>

             </label>
        <% else %>
          <label for="<%= degree_id %>">
            <%= t(degree_university, :scope => i18n_scope) %>
          </label>
          <% if @project_instance.degree_university.present? && DEGREES_UNIVERSITY.exclude?(@project_instance.degree_university.to_sym) %>
            <%= text_field_tag 'project_instance[degree_university]', @project_instance.degree_university,
              :id => degree_id %>
          <% else %>
            <%= text_field_tag 'project_instance[manual_degree_university]', nil,
              :id => degree_id %>
          <% end %>
        <% end %>


      </li>
    <% end %>
  </ul>
</div>