<% i18n_scope = [:projects, :questionnaire, :profession] %>
<table class="grid full_width">
  <thead>
    <tr>
      <th><%= t(:question, :scope => [:projects, :sociodemographic_forms, :profession]) %></th>
      <th><%= t(:certification, :scope => i18n_scope) %></th>
      <th><%= t(:ocuppation, :scope => i18n_scope) %></th>
    </tr>
  </thead>
  <% i18n_scope << :options %>
  <tbody>
    <% PROFESSIONS.each_with_index do |profession, i| %>
      <tr>
        <td><%= t(profession, :scope => i18n_scope) %></td>
        <td>
          <span class="subscript"><%= i + 1 %></span>
          <%= check_box_tag :profession_certification, profession, false,
            :id => :"profession_certification_#{profession}" %>
        </td>
        <td>
          <span class="subscript"><%= i + 1 %></span>
          <%= check_box_tag :profession_ocuppation, profession, false,
            :id => :"profession_ocuppation_#{profession}" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>