<% i18n_scope = [:projects, :questionnaire, :student, :options] %>
<strong>
  <%= t(:question, :scope => [:projects, :sociodemographic_forms, :student]) %>
</strong>
<ul class="horizontal_list">
  <% STUDENT_STATUSES.each_with_index do |student_status, i| %>
    <% student_status_id = :"#{student_status}_student_status" %>
    <li>
      <label for="<%= student_status_id %>">
        <%= t(student_status, :scope => i18n_scope) %>
        <span class="subscript"><%= i + 1 %></span>
      </label>
      <%= radio_button_tag 'project_instance[student_status]', student_status, false,
        :id => student_status_id %>
    </li>
  <% end %>
</ul>