<% i18n_scope = [:projects, :questionnaire, :teacher_level, :options] %>
<% if params[:action]=='new' || @project_instance.teacher_status=='not_a_teacher' %>
  <% style = "display: none;" %>
<% else %>
  <% style = nil %>
<% end %>
<div id="teacher" style="<%= style %>">
<strong>
  <%= t(:question, :scope => [:projects, :sociodemographic_forms, :teacher_level]) %>
</strong>
<ul class="horizontal_list">
  <% TEACHER_LEVELS.each_with_index do |teacher_level, i| %>
    <% teacher_level_id = :"#{teacher_level}_teacher_level" %>
    <li>
      <label for="<%= teacher_level_id %>">
        <%= t(teacher_level, :scope => i18n_scope) %>
        <span class="subscript"><%= i + 1 %></span>
      </label>
      <% unless teacher_level == TEACHER_LEVELS.last %>
        <%= radio_button_tag 'project_instance[teacher_level]', teacher_level, 
          @project_instance.teacher_level.eql?("#{teacher_level}"),
          :id => teacher_level_id %>
      <% else %>
        <% if @project_instance.teacher_level.present? && TEACHER_LEVELS.exclude?(@project_instance.teacher_level.to_sym) %>
          <%= text_field_tag 'project_instance[teacher_level]', @project_instance.teacher_level,
            :id => teacher_level_id %>
        <% else %>
          <%= text_field_tag 'project_instance[teacher_level]', nil,
            :id => teacher_level_id %>
        <% end %>
      <% end %>
      
    </li>
  <% end %>
</ul>
</div>