<div id="showed_data">
<h4><%= "#{t :'activerecord.models.project'}: #{@project.name}"%></h4>
</div>
<table>
  <tr>
    <th><%= ProjectInstance.human_attribute_name :first_name %></th>
    <th><%= ProjectInstance.human_attribute_name :professor_name %></th>
    <th></th>
    <th class="center"><%= t:'projects.config' %></th>
    <th></th>
  </tr>
<%  @project_instances.each do |project_instance| %>
  <tr class="<%= cycle(:even, :odd) %>">
    <td><% if project_instance.first_name.blank? %>
        ----
        <% else %>
        <%= project_instance.first_name %>
        <% end %>
    </td>
    <td><% if project_instance.professor_name.blank? %>
        ----
        <% else %>
        <%= project_instance.professor_name %>
        <% end %>
    </td>
    <td><%= link_to t(:'labels.show'), project_instance, :class => :real %></td>
    <td class="center"><%= link_to t(:'labels.edit'), edit_project_instance_path(project_instance),
          :class => :real %></td>
    <td class="delete"><%= button_to t(:'labels.delete'), project_instance,
            :confirm => t(:'messages.confirmation_question'),
            :method => :delete %></td>
  </tr>
<% end %>
</table>
<div id="links">
←<%= link_to_back %>
</div>