<% i18n_scope = [:projects, :questionnaire] %>

<p>
  <strong><%= ProjectInstance.human_attribute_name :name %>:</strong>
  <%= @project_instance.name %>
</p>

<p>
  <strong><%= ProjectInstance.human_attribute_name :identifier %>:</strong>
  <%= @project_instance.identifier %>
</p>

<p>
  <strong><%= ProjectInstance.human_attribute_name :description %>:</strong>
  <%= @project_instance.description %>
</p>

<p>
  <strong><%= ProjectInstance.human_attribute_name :year %>:</strong>
  <%= @project_instance.year %>
</p>

<p>
  <strong><%= ProjectInstance.human_attribute_name :project_type %>:</strong>
  <%= @project_instance.project_type_text %>
</p>

<p>
  <strong><%= ProjectInstance.human_attribute_name :valid_until %>:</strong>
  <%= l(@project_instance.valid_until, :format => :long) if @project_instance.valid_until %>
</p>

<% unless @project_instance.first_name.blank? %>
  <p>
    <strong><%= ProjectInstance.human_attribute_name :first_name %>:</strong>
    <%= @project_instance.first_name %>
  </p>
<% end %>

<% unless @project_instance.professor_name.blank?  %>
  <p>
    <strong><%= ProjectInstance.human_attribute_name :professor_name %>:</strong>
    <%= @project_instance.professor_name %>
  </p>
<% end %>

<% unless @project_instance.group_name.blank?  %>
  <p>
    <strong><%= ProjectInstance.human_attribute_name :group_name %>:</strong>
    <%= @project_instance.group_name %>
  </p>
<% end %>

<% unless @project_instance.group_type.blank?  %>
  <p>
    <strong><%= ProjectInstance.human_attribute_name :group_type %>:</strong>
    <%= t(:"projects.questionnaire.group_type.options.#{@project_instance.group_type}") %>
  </p>
<% end %>

<% unless @project_instance.email.blank?  %>
  <p>
    <strong><%= ProjectInstance.human_attribute_name :email %>:</strong>
    <%= @project_instance.email %>
  </p>
<% end %>

<br />
<%= render 'projects/presentation' %>
<br />

<h2><%= t(:sociodemographic_forms_title_instance,
      :scope => i18n_scope) %></h2>

<p>
  <strong><%= t('projects.sociodemographic_forms.name.option') %>:</strong>
  <%= @project_instance.first_name %>
</p>

<% unless @project_instance.professor_name.blank?  %>
  <p>
    <strong><%= t('projects.sociodemographic_forms.professor_name.option') %>:</strong>
    <%= @project_instance.professor_name %>
  </p>
<% end %>

<% unless @project_instance.country.blank?  %>
  <p>
    <strong><%= t('projects.sociodemographic_forms.country.option') %>:</strong>
    <%= @project_instance.country %>
  </p>
<% end %>

<% unless @project_instance.age.blank? %>
  <p>
    <strong><%= t('projects.sociodemographic_forms.age.option') %>:</strong>
    <%= @project_instance.age %>
  </p>
<% end %>

<% unless @project_instance.genre.blank?  %>
  <p>
    <strong><%= t('projects.sociodemographic_forms.genre.option') %>:</strong>
    <%= t("projects.questionnaire.genre.options.#{@project_instance.genre}") %>
  </p>
<% end %>

<% unless @project_instance.student_status.blank?  %>
  <p>
    <strong><%= t('projects.sociodemographic_forms.student.option') %>:</strong>
    <%= t("projects.questionnaire.student.options.#{@project_instance.student_status}") %>
  </p>
<% end %>

<% unless @project_instance.teacher_status.blank?  %>
  <p>
    <strong><%= t('projects.sociodemographic_forms.teacher.option') %>:</strong>
    <%= t("projects.questionnaire.teacher.options.#{@project_instance.teacher_status}") %>
  </p>
<% end %>

<% if @project_instance.teacher_status.present? && @project_instance.teacher_status!="not_a_teacher" %>
  <p>
    <strong><%= t('projects.sociodemographic_forms.teacher_level.option') %>:</strong>
    <%= t("projects.questionnaire.teacher_level.options.#{@project_instance.teacher_level}") %>
  </p>
<% end %>

<% unless @project_instance.degree.blank?  %>
  <p>
    <strong><%= t('projects.sociodemographic_forms.degree.option') %>:</strong>
    <%= t("projects.questionnaire.degree.options.#{@project_instance.degree}") %>
  </p>
<% end %>

<% if @project_instance.degree_school.present? %>
  <strong><%= t('projects.sociodemographic_forms.degrees.option') %>: </strong>
  <p>
    <strong><%= t('projects.sociodemographic_forms.degree_school.option') %>:</strong>
    <%= t("projects.sociodemographic_forms.degree_school.options.#{@project_instance.degree_school}") %>
  </p>
<% end %>

<% if @project_instance.degree_university.present? %>
  <p>
    <strong><%= t('projects.sociodemographic_forms.degree_university.option') %>:</strong>
    <%= t("projects.sociodemographic_forms.degree_university.options.#{@project_instance.degree_university}") %>
  </p>
<% end %>

<% if @project_instance.study_subjects_different.present? %>
  <p>
    <strong><%= t('projects.sociodemographic_forms.study_subjects_different.option') %>:</strong>
    <%= @project_instance.study_subjects_different %>
  </p>
<% end %>

<% if @project_instance.study_subjects.present? %>
  <p>
    <strong><%= t('projects.sociodemographic_forms.study_subjects.option') %>:</strong>
    <%= t("projects.sociodemographic_forms.study_subjects.options.#{@project_instance.study_subjects}") %>
  </p>
<% end %>

<% if @project_instance.study_subjects_choose.present? %>
  <p>
    <strong><%= t('projects.sociodemographic_forms.study_subjects_choose.option') %>:</strong>
    <%= t("projects.sociodemographic_forms.study_subjects_choose.options.#{@project_instance.study_subjects_choose}") %>
  </p>
<% end %>

<% if @project_instance.educational_center_name.present? %>
  <p>
    <strong><%= t('projects.sociodemographic_forms.educational_center_name.option') %>:</strong>
    <%= @project_instance.educational_center_name %>
  </p>
<% end %>

<% if @project_instance.educational_center_city.present? %>
  <p>
    <strong><%= t('projects.sociodemographic_forms.educational_center_city.option') %>:</strong>
    <%= @project_instance.educational_center_city %>
  </p>
<% end %>


<% @project_instance.question_instances.each do |qi| %>
  <br />
  <div class="panel panel-info">
    <div class="panel-heading"><strong><%= Question.model_name.human %></strong></div>
    <div class="panel-body"><strong><%= qi.question_text %></strong></div>
    <% unless qi.answer_instances.empty? %>
      <table class="table table-hover">
        <th><%= AnswerInstance.human_attribute_name :valuation %></th>
        <th><%= AnswerInstance.human_attribute_name :answer_text %></th>
        <% qi.answer_instances.each do |ai| %>
          <tr>
            <td><strong><%= ai.valuation %></strong></td>
            <td><%= ai.answer_text %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
<% end %>

<hr />

<div class="form-footer">
  <%= link_to_back %> |
  <%= link_to t('labels.edit'), edit_project_instance_path(@project_instance) %> |
  <%= link_to t('labels.download'), project_instance_path(@project_instance, :format => :pdf) %>
</div>
