<%= simple_form_for @user do |f| %>
  <%= f.error_messages %>
  <div class="row">
    <div class="col-md-4">
      <%= f.input :user, input_html: { maxlength: 30, autofocus: true } %>
      <%= f.input :name, input_html: { maxlength: 100 } %>
      <%= f.input :lastname, input_html: { maxlength: 100 } %>
      <%= f.input :email, input_html: { maxlength: 100 } %>
      <%= f.input :password, input_html: { maxlength: 128 } %>
      <%= f.input :password_confirmation, input_html: { maxlength: 128 } %>
      <%= f.input :enable, label: false, inline_label: true, input_html: {
            checked: @user.new_record? || @user.enable?
          } %>
      <%= f.input :admin, label: false, inline_label: true %>
      <%= f.input :private, label: false, inline_label: true %>
      <%= f.input :lock_version, as: :hidden %>
   </div>
  </div>

  <hr />

  <div class="form-actions form-footer">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
