<div class="form_container">
  <%= form_for @auth_user, :url => update_password_user_path(@auth_user) do |f| %>
  <%= f.error_messages %>
  <div class="one_column_form">
    <h4 class="question"><%= t(:'users.new_password')%></h4>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, :maxlength => 128 %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, :maxlength => 128 %>
    </div>

    </div>
    <%= hidden_lock_version(f) %>
    <div class="actions">
      <span><%= f.submit t(:'labels.change') %></span>
    </div>
  <% end %>
</div>

<div id="links">
  <%= link_to_back %>
</div>