<%= simple_form_for @user, :url => update_personal_data_user_path(@user) do |f| %>
  <%= f.error_messages %>

  <div class="row">
    <div class="col-md-4">
      <% if @user.admin? %>
        <%= f.input :user %>
      <% else %>
        <strong><%=":  #{@user.user}" %></strong>
      <% end %>
      <%= f.input :name, html_options: { maxlength: 255, autofocus: true } %>
      <%= f.input :lastname, html_options: { maxlength: 255 } %>
      <%= f.input :email, html_options: { maxlength: 100 } %>

      <%= hidden_lock_version(f) %>

      <hr />

      <div class="form-actions">
        <div class="pull-right"><%= link_to_back %></div>
          <%= f.submit t('labels.modify'), class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
