<%= simple_form_for @auth_user, :url => update_password_user_path(@auth_user) do |f| %>
  <%= f.error_messages %>
  <div class="row">
    <div class="col-md-4">
      <h4><%= t('users.new_password')%></h4>
      <%= f.input :password, html_options: { maxlength: 128 } %>
      <%= f.input :password_confirmation, html_options: { maxlength: 128 } %>
      <%= f.input :lock_version, as: :hidden %>

      <hr />

      <div class="form-actions">
        <div class="pull-right"><%= link_to_back %></div>
        <%= f.submit t('labels.change'), class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
