<div id="login">
  <%= form_for @user, :url => create_session_users_path do |f| %>
    <%= f.error_messages %>
    <div class="cocts">
      <p><%= image_tag 'login.gif', :alt => "Bienvenido a COCTS" %></p>
    </div>
    <div class="field">
      <%= f.label :user %>
      <%= f.text_field :user, :maxlength => 30, :autofocus => true %>
    </div>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, :maxlength => 128 %>
    </div>
    
    <div class="field">
      <span><%= f.submit t(:'users.enter') %></span>
    </div>
  <% end %>
</div>