<h2><%= @user.user %></h2>

<p>
  <strong><%= User.human_attribute_name 'name' %>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= User.human_attribute_name 'lastname' %>:</strong>
  <%= @user.lastname %>
</p>

<p>
  <strong><%= User.human_attribute_name 'enable' %>:</strong>
  <%= t @user.enable ? 'labels.yes' : 'labels.no' %>
</p>

<p>
  <strong><%= User.human_attribute_name 'private' %>:</strong>
  <%= t @user.private ? 'labels.yes' : 'labels.no' %>
</p>

<p>
  <strong><%= User.human_attribute_name 'admin' %>:</strong>
  <%= t @user.admin ? 'labels.yes' : 'labels.no' %>
</p>

<p>
  <strong><%= User.human_attribute_name 'email' %>:</strong>
  <%= @user.email %>
</p>

<hr />

<div>
  <%= link_to_back %> |
  <%= link_to t('labels.edit'), edit_user_path(@user) %> |
  <%= link_to t('labels.list'), users_path %>
</div>
