<div id="showed_data">
  <p>
    <b><%= User.human_attribute_name 'user' %>:</b>
    <%=h @user.user %>
  </p>

  <p>
    <b><%= User.human_attribute_name 'name' %>:</b>
    <%=h @user.name %>
  </p>

  <p>
    <b><%= User.human_attribute_name 'lastname' %>:</b>
    <%=h @user.lastname %>
  </p>

  <p>
    <b><%= User.human_attribute_name 'enable' %>:</b>
    <%=t @user.enable? ? :'labels.yes' : :'labels.no' %>
  </p>
  
  <p>
    <b><%= User.human_attribute_name 'admin' %>:</b>
    <%=t @user.admin? ? :'labels.yes' : :'labels.no' %>
  </p>

  <p>
    <b><%= User.human_attribute_name 'email' %>:</b>
    <%=h @user.email %>
  </p>
</div>

<div id="links">
  <%= link_to t(:'labels.edit'), edit_user_path(@user), :class => :real %> |
  <%= link_to t(:'labels.list'), users_path, :class => :real %> |
  ←<%= link_to_back %>
</div>