<% controller = controller_name.to_sym %>

<% if @auth_user %>
<ul id="main_menu">
  <li><%= link_to t(:'menu.users'), users_path,
    :class => "real #{:selected if controller == :users}" if @auth_user.admin? %></li>
  <li><%= link_to t(:'menu.projects'), projects_path,
    :class => "real #{:selected if controller == :projects}" %></li>
  <li><%= link_to t(:'menu.questions'), questions_path,
    :class => "real #{:selected if controller == :questions}" %></li>
  <li><%= link_to "#{t(:'menu.topics')}/#{t(:'menu.subtopics')}", subtopics_path,
    :class => "real #{:selected if controller == :subtopics}" %></li>
  <li><%= link_to t(:'menu.teaching_units'), teaching_units_path,
    :class => "real #{:selected if controller == :teaching_units}" %></li>
</ul>

<div id="user_info">
  <div id="user">
    <%= @auth_user.user%>
  </div>
  <%= link_to t(:'users.edit_personal_data_link'),
    edit_personal_data_user_path(@auth_user), :class => :real %> |
  <%= link_to t(:'users.edit_password_title'),
    edit_password_user_path(@auth_user), :class => :real %> |
  <%= link_to t(:'users.logout'), logout_user_path(@auth_user),
    :class => :real %>
</div>
<% end %>