<% i18n_scope = [:projects, :sociodemographic_forms, :degree_university, :options] %>
<div class ="field_degree">
  <strong>
    <%= t(:question, :scope => [:projects, :sociodemographic_forms, :degree_university]) %>
  </strong>
</div>
<ul class="horizontal_list">
  <% DEGREES_UNIVERSITY.each_with_index do |degree, i| %>
    <% degree_id = :"#{degree}_degree_university" %>
    <% if i == 0 %>
      <strong><%= t(:'projects.sociodemographic_forms.degree_university.degrees') %>: </strong>
    <% end %>
    <li>
      <label for="<%= degree_id %>">
        <%= t(degree, :scope => i18n_scope) %>
        <span class="subscript"><%= i + 1 %></span>
      </label>
      <% unless degree == DEGREES_UNIVERSITY.last %>
        <%= radio_button_tag :degree_university, degree, false, :id => degree_id %>
      <% else %>
        <%= text_field_tag :degree_university_input, nil, :id => degree_id %>
      <% end %>
    </li>
  <% end %>
</ul>