<!--[form:project]-->
<%= form_for @project do |f| %>
  <%= content_for :js_extra do %>
    <%= raw "var question='#{escape_javascript(render(:partial => 'question',
        :object => Question.new, :locals => {:f => f}))}';" %>
  <% end %>
  <%= f.error_messages %>
  <div class="one_column_form">
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, :maxlength => 255, :autofocus => true %>
    </div>
    <div class="field">
      <%= f.label :identifier %>
      <%= f.text_field :identifier, :maxlength => 255 %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label :year %>
      <%= f.text_field :year %>
    </div>
    <div class="field">
      <%= f.label :project_type %>
      <%= project_type_field f %>
    </div>
    <div class="field">
      <%= f.label :valid_until %>
      <%= calendar_text_field f, :valid_until %>
    </div>
  </div>

  <p style="margin: 1em 0em;">
    <%= link_to_function t(:'projects.sociodemographic_label'),
      "$('#sociodemographic').slideToggle()" %>
  </p>

  <div id="sociodemographic" style="display: none;">
    <div style="margin: 1em 0em;">
      <% Project::SOCIODEMOGRAPHIC_FORMS.each do |sociodemographic_form| %>
        <% i18n_scope = [:projects, :sociodemographic_forms, sociodemographic_form] %>
        <div class="field">
          <%= check_box_tag "project[forms][]", sociodemographic_form,
            @project.forms.include?(sociodemographic_form),
            :id => "project_form_#{sociodemographic_form}" %>
          <%= label_tag "project_form_#{sociodemographic_form}_label",
            t(:option, :scope => i18n_scope),
            :for => "project_form_#{sociodemographic_form}",
            :title => t(:question, :scope => i18n_scope), :class => :inline %>
          <%= link_to t(:'projects.preview_label'),
            preview_form_projects_path(:form => sociodemographic_form, :format => :html),
            :class => :sociodemographic_form, :remote => true, :method => :get %>
          <div class="form_details"></div>
          <%= link_to_function t(:'projects.close_label'),
            "$(this).prev('div.form_details').hide(); $(this).hide()",
            :class => :hide_form_details, :style => 'display: none;' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="items">
    <div class="column_headers">
      <div class="item_column" style="width: 90%;">
        <h3><%= Question.human_attribute_name :question %></h3>
      </div>
      <div class="item_column" style="width: 10%;"></div>
      <div style="clear: both;">&nbsp;</div>
    </div>

    <div id="questions">
      <% @project.questions.build if @project.questions.empty? %>
      <%= render :partial => 'question', :collection => @project.questions,
        :locals => {:f => f} %>
    </div>
  </div>

  <p class="add_item">
    <%= link_to t(:'projects.add_question'), '#',
      :'data-template' => :question, :'data-event' => 'addNestedItem',
      :'data-container' => '#questions', :class => :important_action %>
  </p>

  <%= hidden_lock_version(f) %>
  <div class="actions">
    <span><%= f.submit %></span>
  </div>
<% end %>
<!--[eoform:project] -->
<script type="text/javascript">
  $('a.sociodemographic_form').live('ajax:success', function(event, data) {
    $(this).next('div.form_details').html(data).show();
    $(this).siblings('a.hide_form_details').show();
  });
</script>
