<%= simple_form_for @project do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-md-6">
      <%= f.input :name, input_html: { readonly: @name, maxlength: 100 } %>
      <%= f.input :identifier, input_html: { readonly: true, maxlength: 30 } %>
      <%= f.input :description, input_html: { maxlength: 255 } %>
      <%= f.input :year %>
      <% if @auth_user.admin %>
        <%= f.input :user_id, collection: User.all.map { |u|
              [u.user, u.id]
            }, prompt: true %>
      <% end %>
      <%= f.input :group_name, input_html: { maxlength: 255 } %>
      <%= f.input :group_type, collection: GROUP_TYPES.map { |group|
            [t("projects.questionnaire.group_type.options.#{group}"), group]
          }, as: :radio_buttons, checked: @project.group_type %>
      <%= f.input :lock_version, as: :hidden %>
      <%= hidden_field_tag :parent_group_type, @group %>
      <%= f.input :test_type, collection: TEST_TYPES.map { |test|
            [t("projects.questionnaire.test_type.options.#{test}"), test]
          }, as: :radio_buttons, checked: @project.test_type %>
      <%= hidden_field_tag :parent_test_type, @test %>
      <%= hidden_field_tag :parent_project_id, params[:parent_project_id] %>
      <%= f.input :project_type, collection: TYPES.map { |k, v|
        [t("projects.#{k}_type"), v] }, prompt: true %>
      <%= f.input :valid_until, as: :string, input_html: { class: 'calendar' }  %>

      <p>
        <%= link_to t('projects.sociodemographic_label'), '#', onclick:
          "$('#sociodemographic').slideToggle()" %>
      </p>

      <%= render "sociodemographic_forms" %>
    </div>
  </div>

  <h3><%= t('activerecord.models.teaching_units') %></h3>

  <div id="teaching_units">
    <%= render :partial => 'teaching_unit', :collection => @project.teaching_units,
      :locals => {:f => f} %>

    <%= link_to_add_fields t('subtopics.add_new_teaching_unit'), f, :teaching_units, 'teaching_unit' %>
  </div>

  <h3><%= t('projects.label_questions') %></h3>

  <div id="questions">
    <%= render :partial => 'question', :collection => @project.questions,
       :locals => {:f => f} %>

    <%= link_to_add_fields t('projects.add_question'), f, :questions, 'question' %>
  </div>

  <hr />

  <div class="form-actions form-footer">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>

<script type="text/javascript">
  $('a.sociodemographic_form').on('ajax:success', function(event, data) {
    $(this).next('div.form_details').html(data).show();
    $(this).siblings('a.hide_form_details').show();
  });
</script>
