<!--[form:project]-->
<%= form_for @project do |f| %>
  <%= content_for :js_extra do %>
    <%= raw "var question='#{escape_javascript(render(:partial => 'question',
        :object => Question.new, :locals => {:f => f}))}';" %>
    <%= raw "var teaching_unit='#{escape_javascript(render(:partial => 'teaching_unit',
        :object => TeachingUnit.new, :locals => {:f => f}))}';" %>
  <% end %>
  <%= f.error_messages %>
  <div class="one_column_form">
    <div class="field">
      <%= f.label :name, 'data-show-popover' => true, 'data-content' => 
        t(:'projects.name_help'), :title => t(:'activerecord.attributes.project.name') %>
      <% if @old %> 
        <%= f.text_field :name, :readonly => true, :maxlength => 255 %>
      <% else %>  
        <%= f.text_field :name, :maxlength => 255 %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :identifier, 'data-show-popover' => true, 'data-content' => 
        t(:'projects.identifier_help'), :title => t(:'activerecord.attributes.project.identifier') %>
      <% if @auth_user.admin? %>
        <%= f.text_field :identifier %> 
      <% else %>
        <%= f.text_field :identifier, :disabled => true %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :description, 'data-show-popover' => true, 'data-content' => 
        t(:'projects.description_help'), :title => t(:'activerecord.attributes.project.description') %>
      <% if @auth_user.admin? %>
        <%= f.text_area :description %>
      <% else %>
        <%= f.text_area :description, :readonly => true %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :year, 'data-show-popover' => true, 'data-content' => 
        t(:'projects.year_help'), :title => t(:'activerecord.attributes.project.year') %>
      <% if @old %>
        <%= f.text_field :year, :readonly => true %>
      <% else %>
        <%= f.text_field :year %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :group_name, 'data-show-popover' => true, 'data-content' => 
        t(:'projects.group_name_help'), :title => t(:'activerecord.attributes.project.group_name') %>
      <%= f.text_field :group_name %>
    </div>
    <div class="field">
      <%= f.label :group_type %>
      <ul class="horizontal_list">
        <% GROUP_TYPES.each do |group| %>
          <% group_id = :"#{group}_group_type" %>
          <li>
            <label for="<%= group_id %>">
              <%= t(:"projects.questionnaire.group_type.options.#{group}") %>
            </label>
          <%= radio_button_tag 'project[group_type]', group, 
              @project.group_type.eql?("#{group}"), :id => group_id %>
          </li>
        <% end %>
      </ul>
      <%= hidden_field_tag :parent_group_type, @group %>
    </div>
    <div class="field">
      <%= f.label :test_type %>
      <ul class="horizontal_list">
        <% TEST_TYPES.each do |test| %>
          <% test_id = :"#{test}_test_type" %>
          <li>
            <label for="<%= test_id %>">
              <%= t(:"projects.questionnaire.test_type.options.#{test}") %>
            </label>
            <%= radio_button_tag 'project[test_type]', test, 
              @project.test_type.eql?("#{test}"), :id => test_id %>
          </li>
        <% end %>
      </ul>
      <%= hidden_field_tag :parent_test_type, @test %>
      <%= hidden_field_tag :parent_project_id, params[:parent_project_id] %>
    </div>
    <div class="field">
      <%= f.label :project_type, 'data-show-popover' => true, 'data-content' => 
        t(:'projects.project_type_help'), :title => t(:'activerecord.attributes.project.project_type') %>
    </div>
      <%= project_type_field f %>
    <div class="field">
      <%= f.label :valid_until, 'data-show-popover' => true, 'data-content' => 
        t(:'projects.valid_until_help'), :title => t(:'activerecord.attributes.project.valid_until') %>
      <%= calendar_text_field f, :valid_until %>
     </div>
  </div>
  <p style="margin: 1em 0em;">
    <%= link_to_function t(:'projects.sociodemographic_label'),
      "$('#sociodemographic').slideToggle()" %>
  </p>
  <div id="sociodemographic" style="display: none;">
    <div style="margin: 1em 0em;">
      <% Project::SOCIODEMOGRAPHIC_FORMS.each do |sociodemographic_form| %>
        <% i18n_scope = [:projects, :sociodemographic_forms, sociodemographic_form] %>
      
      <% if sociodemographic_form.eql? 'degree_school' %>
        <div class="field">   
          <strong><%= t(:'projects.sociodemographic_forms.degrees.question') %></strong>
        </div>
      <% end %>
            
      <% if sociodemographic_form.eql?('degree_school') || 
          sociodemographic_form.eql?('degree_university') %>
        <div class="field_degree">
      <% else %>
        <div class="field">
      <% end %>
      <%= check_box_tag "project[forms][]", sociodemographic_form,
            @project.forms.include?(sociodemographic_form),
            :id => "project_form_#{sociodemographic_form}" %>
          <%= label_tag "project_form_#{sociodemographic_form}_label",
            t(:option, :scope => i18n_scope),
            :for => "project_form_#{sociodemographic_form}",
            :title => t(:question, :scope => i18n_scope), :class => :inline %>
          <%= link_to t(:'projects.preview_label'),
            preview_form_projects_path(:form => sociodemographic_form, :format => :html),
            :class => :sociodemographic_form, :remote => true, :method => :get %>
          <div class="form_details"></div>
          <%= link_to_function t(:'projects.close_label'),
            "$(this).prev('div.form_details').hide(); $(this).hide()",
            :class => :hide_form_details, :style => 'display: none;' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="items">
    <div class="column_headers">
      <div class="item_column" style="width: 90%;">
        <h3><%= label_tag t(:'activerecord.models.teaching_units'), nil, {'data-show-popover' => true, 'data-content' => 
        t(:'projects.teaching_units_help'), :title => t(:'activerecord.models.teaching_unit')} %></h3>
      </div>
      <div class="item_column" style="width: 10%;"></div>
      <div style="clear: both;">&nbsp;</div>
    </div>
    <div id="teaching_units">
      <% if @project.teaching_units.empty? %>  
        <% @project.teaching_units.build %>
      <% else %>
        <%= render :partial => 'teaching_unit', :collection => @project.teaching_units,
          :locals => {:f => f} %>
      <% end %>
    </div>
    <p class="add_item">
      <%= link_to t(:'subtopics.add_new_teaching_unit'), '#',
        :'data-template' => :teaching_unit, :'data-event' => 'addNestedItem',
        :'data-container' => '#teaching_units', :class => :important_action %>
    </p>  
    <div class="column_headers">
      <div class="item_column" style="width: 90%;">
        <h3><%= label_tag t(:'projects.label_questions'), nil, {'data-show-popover' => true, 'data-content' => 
        t(:'projects.questions_help'), :title => t(:'activerecord.models.question')} %></h3>
      </div>
      <div class="item_column" style="width: 10%;"></div>
      <div style="clear: both;">&nbsp;</div>
    </div>
    <div id="questions">
      <% if @project.questions.empty? %>
        <% @project.questions.build %>
      <% else %>
        <%= render :partial => 'question', :collection => @project.questions,
          :locals => {:f => f} %>
      <% end %>
    </div>
    <p class="add_item">
      <%= link_to t(:'projects.add_question'), '#',
        :'data-template' => :question, :'data-event' => 'addNestedItem',
        :'data-container' => '#questions', :class => :important_action %>
    </p>
  </div>
  <%= hidden_lock_version(f) %>
  <div class="actions">
    <span><%= f.submit %></span>
  </div>
<% end %>
<!--[eoform:project] -->
<script type="text/javascript">
  $('a.sociodemographic_form').live('ajax:success', function(event, data) {
    $(this).next('div.form_details').html(data).show();
    $(this).siblings('a.hide_form_details').show();
  });
</script>
