<!--[form:project]-->
<% form_for @project do |f| -%>
  <%= f.error_messages %>
  <div class="one_column_form">
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, :maxlength => 255 %>
    </div>
    <div class="field">
      <%= f.label :identifier %>
      <%= f.text_field :identifier, :maxlength => 255 %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label :year %>
      <%= f.text_field :year %>
    </div>
    <div class="field">
      <%= f.label :project_type %>
      <%= project_type_field f %>
    </div>
    <div class="field">
      <%= f.label :valid_until %>
      <%= f.calendar_date_select :valid_until,
        :valid_date_check => 'date.stripTime() >= (new Date()).stripTime()' %>
    </div>
  </div>

  <p style="margin: 1em 0em;">
    <%= link_to_function t(:'projects.sociodemographic_label'),
      "Effect.toggle('sociodemographic', 'slide')" %>
  </p>

  <div id="sociodemographic" style="display: none;">
    <div style="margin: 1em 0em;">
      <% Project::SOCIODEMOGRAPHIC_FORMS.each do |sociodemographic_form| -%>
        <div class="field">
          <%= check_box_tag "project[forms][]", sociodemographic_form,
            @project.forms.include?(sociodemographic_form),
            :id => "project_form_#{sociodemographic_form}" %>
          <%= label_tag "project_form_#{sociodemographic_form}_label",
            t("projects.sociodemographic_forms.#{sociodemographic_form}.option"),
            :for => "project_form_#{sociodemographic_form}",
            :title => t("projects.sociodemographic_forms.#{sociodemographic_form}.question")%>
        </div>
      <% end -%>
    </div>
  </div>

  <%= hidden_lock_version(f) %>
  <div class="actions">
    <span><%= f.submit submit_text %></span>
  </div>
<% end -%>
<!--[eoform:project] -->
<%= set_focus_to_first_element %>