<!--[form:project]-->
<%= form_for @project do |f| %>
  <%= content_for :js_extra do %>
    <%= raw "var question='#{escape_javascript(render(:partial => 'question',
        :object => Question.new, :locals => {:f => f}))}';" %>
    <%= raw "var teaching_unit='#{escape_javascript(render(:partial => 'teaching_unit',
        :object => TeachingUnit.new, :locals => {:f => f}))}';" %>
  <% end %>
  <%= f.error_messages %>
  <div class="one_column_form">
    <div class="field">
      <%= f.label :name %>
      <%= link_to '?', '#', :class => 'open_dialog', :'data-dialog' => '#help_project_name' %>
      <div id="help_project_name" class="hidden_dialog" style="display: none;" 
        title= <%= "#{t(:'help_title')}-#{t(:'activerecord.attributes.project.name')}" %>
           <p><%= t(:'projects.name_help') %></p>
      </div>  
      <%= f.text_field :name, :maxlength => 255, :autofocus => true %>
      
    </div>
    <div class="field">
      <%= f.label :identifier %>
      <%= link_to '?', '#', :class => 'open_dialog', :'data-dialog' => '#help_project_identifier' %>
      <div id="help_project_identifier" class="hidden_dialog" style="display: none;" 
        title= <%= "#{t(:'help_title')}-#{t(:'activerecord.attributes.project.identifier')}" %>
           <p><%= t(:'projects.identifier_help') %></p>
      </div>
      <%= f.text_field :identifier %>
      
    </div>
    <div class="field">
      <%= f.label :description %>
      <%= link_to '?', '#', :class => 'open_dialog', :'data-dialog' => '#help_project_description' %>
      <div id="help_project_description" class="hidden_dialog" style="display: none;" 
        title= <%= "#{t(:'help_title')}-#{t(:'activerecord.attributes.project.description')}" %>
           <p><%= t(:'projects.description_help') %></p>
      </div>
      <%= f.text_area :description %>
      
    </div>
    <div class="field">
      <%= f.label :year %>
      <%= link_to '?', '#', :class => 'open_dialog', :'data-dialog' => '#help_project_year' %>
      <div id="help_project_year" class="hidden_dialog" style="display: none;" 
        title= <%= "#{t(:'help_title')}-#{t(:'activerecord.attributes.project.year')}" %>
           <p><%= t(:'projects.year_help') %></p>
      </div>
      <%= f.text_field :year %>
      
    </div>
    <div class="field">
      <%= f.label :project_type %>
      <%= link_to '?', '#', :class => 'open_dialog', :'data-dialog' => '#help_project_type' %>
      <div id="help_project_type" class="hidden_dialog" style="display: none;" 
        title= <%= "#{t(:'help_title')}-#{t(:'activerecord.attributes.project.project_type')}" %>
           <p><%= t(:'projects.project_type_help') %></p>
      </div>
    </div>
      <%= project_type_field f %>
      
    <div class="field">
      <%= f.label :valid_until %>
      <%= link_to '?', '#', :class => 'open_dialog', :'data-dialog' => '#help_project_valid_until' %>
      <div id="help_project_valid_until" class="hidden_dialog" style="display: none;" 
        title= <%= "#{t(:'help_title')}-#{t(:'activerecord.attributes.project.valid_until')}" %>
           <p><%= t(:'projects.valid_until_help') %></p>
      </div>
      <%= calendar_text_field f, :valid_until %>
      
    </div>
  </div>

  <p style="margin: 1em 0em;">
    <%= link_to_function t(:'projects.sociodemographic_label'),
      "$('#sociodemographic').slideToggle()" %>
  </p>

  <div id="sociodemographic" style="display: none;">
    <div style="margin: 1em 0em;">
      <% Project::SOCIODEMOGRAPHIC_FORMS.each do |sociodemographic_form| %>
        <% i18n_scope = [:projects, :sociodemographic_forms, sociodemographic_form] %>
        <div class="field">
          <%= check_box_tag "project[forms][]", sociodemographic_form,
            @project.forms.include?(sociodemographic_form),
            :id => "project_form_#{sociodemographic_form}" %>
          <%= label_tag "project_form_#{sociodemographic_form}_label",
            t(:option, :scope => i18n_scope),
            :for => "project_form_#{sociodemographic_form}",
            :title => t(:question, :scope => i18n_scope), :class => :inline %>
          <%= link_to t(:'projects.preview_label'),
            preview_form_projects_path(:form => sociodemographic_form, :format => :html),
            :class => :sociodemographic_form, :remote => true, :method => :get %>
          <div class="form_details"></div>
          <%= link_to_function t(:'projects.close_label'),
            "$(this).prev('div.form_details').hide(); $(this).hide()",
            :class => :hide_form_details, :style => 'display: none;' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="items">
    
    <div class="column_headers">
      <div class="item_column" style="width: 90%;">
        <h3><%= t:'activerecord.models.teaching_units' %></h3>
        <%= link_to '?', '#', :class => 'open_dialog', :'data-dialog' => '#help_teaching_units' %>
      <div id="help_teaching_units" class="hidden_dialog" style="display: none;" 
        title= <%= "#{t(:'help_title')}-#{t(:'activerecord.models.teaching_unit')}" %>
           <p><%= t(:'projects.teaching_units_help') %></p>
      </div>
      </div>
      <div class="item_column" style="width: 10%;"></div>
      <div style="clear: both;">&nbsp;</div>
    </div>

    <div id="teaching_units">
      <% if @project.teaching_units.empty? %>  
        <% @project.teaching_units.build %>
      <% else %>
        <%= render :partial => 'teaching_unit', :collection => @project.teaching_units,
          :locals => {:f => f} %>
      <% end %>
    </div>
  
    <p class="add_item">
      <%= link_to t(:'subtopics.add_new_teaching_unit'), '#',
        :'data-template' => :teaching_unit, :'data-event' => 'addNestedItem',
        :'data-container' => '#teaching_units', :class => :important_action %>
    </p>  
    
    <div class="column_headers">
      <div class="item_column" style="width: 90%;">
        <h3><%= t:'projects.label_questions' %></h3>
        <%= link_to '?', '#', :class => 'open_dialog', :'data-dialog' => '#help_project_questions' %>
      <div id="help_project_questions" class="hidden_dialog" style="display: none;" 
        title= <%= "#{t(:'help_title')}-#{t(:'activerecord.models.question')}" %>
           <p><%= t(:'projects.questions_help') %></p>
      </div>
      </div>
      <div class="item_column" style="width: 10%;"></div>
      <div style="clear: both;">&nbsp;</div>
    </div>

    <div id="questions">
      <% if @project.questions.empty? %>
        <% @project.questions.build %>
      <% else %>
        <%= render :partial => 'question', :collection => @project.questions,
          :locals => {:f => f} %>
      <% end %>
    </div>
    
    <p class="add_item">
    <%= link_to t(:'projects.add_question'), '#',
      :'data-template' => :question, :'data-event' => 'addNestedItem',
      :'data-container' => '#questions', :class => :important_action %>
    </p>
        
  </div>

  <%= hidden_lock_version(f) %>
  <div class="actions">
    <span><%= f.submit %></span>
  </div>
<% end %>
<!--[eoform:project] -->
<script type="text/javascript">
  $('a.sociodemographic_form').live('ajax:success', function(event, data) {
    $(this).next('div.form_details').html(data).show();
    $(this).siblings('a.hide_form_details').show();
  });
</script>
