<% id = f.object.object_id %>
<fieldset class="question">
  <div class="row">
    <div class="col-md-6">
      <% if f.object.new_record? %>
        <%= f.input :question, as: :string, label: false,
          input_html: {
            id: "project_question_#{id}", class: :autocomplete_field,
            value: (f.object.question if f.object.persisted?), autofocus: true,
            data: {
              autocomplete_url: autocomplete_for_question_projects_path(format: :json),
              autocomplete_params: ({project_id: @project.id}.to_json unless @project.new_record?),
              autocomplete_target: "#question_id_#{id}"
            }
          } %>
        <%= f.input :question, as: :hidden, input_html: {
          name: 'project[question_ids][]', value: f.object.id,
          id: "question_id_#{id}", class: :autocomplete_id
        }%>
      <% else %>
        <%= f.input :question, label: false, input_html: {
            value: "#{question.code} - #{question.question}", readonly: true
          }, wrapper_html: { class: ('has-error' if @project.errors[:question_ids].any?) } %>
        <%= f.input :question, as: :hidden, input_html: {
            name: 'project[question_ids][]', value: question.id,
            id: "question_#{id}"
        } %>
      <% end %>
    </div>

    <div class="col-md-3">
      <%= remove_list_item_link(nil, 'question') %>
    </div>
  </div>
</fieldset>
