<% id = f.object.object_id %>
<fieldset class="teaching_unit">
  <div class="row">
    <div class="col-md-6">
      <% if f.object.new_record? %>
        <%= f.input :teaching_unit_id, as: :string, label: false,
          input_html: {
            id: "project_teaching_unit_#{id}",
            class: 'autocomplete_field', autofocus: true,
            value: (f.object.title if f.object.persisted?),
            data: {
              autocomplete_url: autocomplete_for_teaching_unit_subtopics_path(format: :json),
              autocomplete_params: ({project_id: @project.id}.to_json unless @project.new_record?),
              autocomplete_target: "#teaching_unit_id_#{id}"
            }
          } %>
        <%= f.input :teaching_unit_id, as: :hidden, input_html: {
          name: 'project[teaching_unit_ids][]', value: f.object.id,
          id: "teaching_unit_id_#{id}", class: :autocomplete_id
          } %>
      <% else %>
        <%= f.input :teaching_unit, label: false, input_html: {
            value: teaching_unit.title, readonly: true
          }, wrapper_html: { class: ('has-error' if @project.errors[:question_ids].any?) } %>
        <%= f.input :teaching_unit_id, as: :hidden, input_html: {
            name: 'project[teaching_unit_ids][]', value: teaching_unit.id,
            id: "teaching_unit_id#{id}", class: :autocomplete_id
          } %>
      <% end %>
    </div>

    <div class="col-md-3">
      <%= remove_list_item_link(nil, 'teaching_unit') %>
    </div>
  </div>
</fieldset>
