<table>
  <thead>
    <tr>
      <th><%= Project.human_attribute_name 'name' %></th>
      <th><%= Project.human_attribute_name 'description' %></th>
      <th><%= Project.human_attribute_name 'year' %></th>
      <th><%= Project.human_attribute_name 'project_type' %></th>
      <th><%= Project.human_attribute_name 'valid_until' %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%=h project.name %></td>
        <td><%=h truncate(project.description, :length => 25, :omission => '...') %></td>
        <td><%=h project.year %></td>
        <td><%=h project.project_type_text %></td>
        <td><%=h l(project.valid_until) if project.valid_until %></td>
        <td><%= link_to t(:'labels.show'), project %></td>
        <td><%= link_to t(:'labels.edit'), edit_project_path(project) %></td>
        <td><%= button_to t(:'labels.delete'), project,
            :confirm => t(:'messages.confirmation_question'), :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="links">
  <%= pagination_links @projects %>
  <%= link_to t(:'projects.new_link'), new_project_path,
    :class => :important_action %>
</div>