<table>
  <thead>
    <tr>
      <th><%= Project.human_attribute_name :name %></th>
      <th><%= Project.human_attribute_name :identifier %></th>
      <th><%= User.human_attribute_name :user if @auth_user.admin? %></th>
      <th><%= Project.human_attribute_name :year %></th>
      <th><%= Project.human_attribute_name :project_type %></th>
      <th><%= Project.human_attribute_name :valid_until %></th>
      <th><%= t:'projects.instance' %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr class="<%= cycle(:even, :odd) %>">
        <td><%= truncate project.name, :length => 40, :omission => '...' %></td>
        <td><%= project.identifier %></td>
        <td><%= project.user.user if project.user && @auth_user.admin? %></td>
        <td><%= project.year %></td>
        <td><%= project.project_type_text %></td>
        <td><%= l(project.valid_until) if project.valid_until %></td>
        <td><%= link_to t(:'labels.new'), 
            new_project_instance_path(:identifier => project.identifier), 
            :class => :real if project.manual? %> 
          <%= "|" unless project.interactive? || project.project_instances.empty? %>
            <%= link_to t(:'labels.list'), 
            #:controller => 'project_instances', :action => 'index', 
            project_instances_url(:id => project.id),
            :class => :real unless project.project_instances.empty? %></td>
        <td><%= link_to t(:'labels.show'), project, :class => :real %></td>
        
        <td><%= link_to t(:'labels.edit'), edit_project_path(project),
            :class => :real %></td>
        <td><%= button_to t(:'labels.delete'), project,
            :confirm => t(:'messages.confirmation_question'),
            :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="links">
  <%= pagination_links @projects %>
  <%= link_to t(:'projects.new_link'), new_project_path,
    :class => :important_action %>
</div>