<table class="table table-hover">
  <thead>
    <tr>
      <th><%= Project.human_attribute_name :name %></th>
      <th><%= Project.human_attribute_name :identifier %></th>
      <th><%= Project.human_attribute_name :year %></th>
      <th><%= Project.human_attribute_name :project_type %></th>
      <th><%= Project.human_attribute_name :valid_until %></th>
      <th><%= t 'projects.instances' %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr class="<%= cycle(:even, :odd) %>">
        <td><%= truncate project.name, :length => 80, :omission => '...' %></td>
        <td><%= project.identifier %></td>
        <td><%= project.year %></td>
        <td><%= project.project_type_text %></td>
        <td><%= l(project.valid_until) if project.valid_until %></td>
        <td><%= link_to t('labels.new_fem'), new_project_instance_path(
              :identifier => project.identifier), :class => :real if project.manual? %>
            <%= "|" unless project.interactive? || project.project_instances.empty? %>
              <%= link_to t('labels.list'), project_instances_url(:id => project.id),
                :class => :real unless project.project_instances.empty? %></td>
        <td><%= link_to_show project %></td>
        <td><%= link_to_edit  edit_project_path(project) %></td>
        <td><%= link_to_destroy project if @auth_user.admin? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr />

<div>
  <div class='pull-right'>
    <%= pagination_links @projects %>
  </div>
  <%= link_to t('labels.new'), select_new_projects_path, class: 'btn btn-primary' %>
</div>
