<div id="showed_data">
  <p>
    <b><%= Project.human_attribute_name :name %>:</b>
    <%=h @project.name %>
  </p>

  <p>
    <b><%= Project.human_attribute_name :description %>:</b>
    <%=h @project.description %>
  </p>

  <p>
    <b><%= Project.human_attribute_name :year %>:</b>
    <%=h @project.year %>
  </p>

  <p>
    <b><%= Project.human_attribute_name :project_type %>:</b>
    <%=h @project.project_type_text %>
  </p>

  <p>
    <b><%= Project.human_attribute_name :valid_until %>:</b>
    <%=h l(@project.valid_until, :format => :long) if @project.valid_until %>
  </p>
</div>


<div id="links">
  <%= link_to t(:'labels.edit'), edit_project_path(@project) %> |
  <%= link_to t(:'labels.list'), projects_path %> |
  <%= link_to_back %>
</div>