<%= simple_form_for(@subtopic) do |f| %>
  <%= content_for :js_extra do %>
    <%= raw "var teaching_unit='#{escape_javascript(render(:partial => 'teaching_unit',
        :object => TeachingUnit.new, :locals => {:f => f}))}';" %>
  <% end %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-md-6">
      <%= f.input :code, html_options: { maxlength: 30, autofocus: true } %>
      <%= f.input :title, html_options: { maxlength: 255 } %>
    </div>
  </div>

  <h3><%= t('activerecord.models.teaching_units') %></h3>

  <div id="teaching_units">
    <% @subtopic.teaching_units.build if @subtopic.teaching_units.empty? %>
    <%= render :partial => 'teaching_unit', :collection => @subtopic.teaching_units,
      :locals => {:f => f} %>

    <%= link_to t('subtopics.add_new_teaching_unit'), '#',
      class: 'btn btn-default btn-sm', data: {
        template: 'teaching_unit',
        event: 'addNestedItem',
        container: '#teaching_units'
      } %>
  </div>

  <hr />

  <div class="form-actions form-footer">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
