<div id="search_link">
  <%= link_to t(:'subtopic.search_subtopics'), '#', :class => 'search' %>
</div>
<div id="search_form" style="display: none;">
  <%= form_tag subtopics_path, :method => 'get', :id => "subtopics_search" do %>
    <div id="field">
      <%= text_field_tag :search, params[:search], :autofocus => true %>
    </div>
  <% end %>
</div>
<table class="table table-hover">
  <tr>
    <th><%= Subtopic.human_attribute_name :title %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subtopics.each do |subtopic| %>
  <tr class="<%= cycle(:even, :odd) %>">
    <td><%= "#{subtopic.code}. #{subtopic.title}" %></td>
    <td><%= link_to_show subtopic %></td>
    <td><%= link_to_edit edit_subtopic_path(subtopic) %></td>
    <td><%= link_to_destroy subtopic if @auth_user.admin? %></td>
  </tr>
<% end %>
</table>

<div id="links">
  <%= pagination_links @subtopics %>
  <%= link_to t(:'labels.new'), new_subtopic_path, :class => :btn %>
</div>

