<table>
  <tr>
    <th><%= Subtopic.human_attribute_name :title %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subtopics.each do |subtopic| %>
  <tr class="<%= cycle(:even, :odd) %>">
    <td><%= "#{subtopic.code}. #{subtopic.title}" %></td>
     <td><%= link_to '&#xe074;'.html_safe, subtopic, :class => :iconic, 
        :title => t(:'labels.show'), :data => {:'show-tooltip' => true} %></td>
      <td><%= link_to '&#x270e;'.html_safe, edit_subtopic_path(subtopic), :class => :iconic,
        :title => (t:'labels.edit'), :data => {:'show-tooltip' => true} %></td>
    <td class ="delete"><%= button_to t(:'labels.delete'), subtopic,
        :confirm => t(:'messages.confirmation_question'), :method => :delete %></td>
    </tr>
  </tr>
<% end %>
</table>

<div id="links">
  <%= pagination_links @subtopics %>
  <%= link_to t(:'labels.new'), new_subtopic_path, :class => :important_action %>
</div>

