<div id="showed_data">
  <p>
    <b><%= Subtopic.human_attribute_name :title %>:</b>
    <strong>[<%= @subtopic.code %>]<strong><%= @subtopic.title %>
  </p>
  <% unless @subtopic.teaching_units.empty? %>
  <ul>
  <b><%= t(:'activerecord.models.teaching_unit') %>:</b>
  <% @subtopic.teaching_units.each do |teaching_unit| %>
      <li><%= teaching_unit.title %></li>
  <% end %>
  </ul>
  <% end %>
</div>


<div id="links">
  <%= link_to t(:'labels.edit'), edit_subtopic_path(@subtopìc), :class => :real %> |
  <%= link_to t(:'labels.list'), subtopics_path, :class => :real %> |
  ←<%= link_to_back %>
</div>
