<h2><%= @subtopic.code %> - <%= @subtopic.title %></h2>

<% if @subtopic.teaching_units.present? %>
  <p>
    <strong><%= t('activerecord.models.teaching_units') %>:</strong>
  </p>

  <ul>
    <% @subtopic.teaching_units.each do |teaching_unit| %>
      <li><%= teaching_unit.title %></li>
    <% end %>
  </ul>
<% end %>

<hr />

<div>
  <%= link_to_back %> |
  <%= link_to t('labels.edit'), edit_subtopic_path(@subtopic) %> |
  <%= link_to t('labels.list'), subtopics_path %>
</div>
