<div class="col-md-9">
  <div class="panel panel-danger">
    <div class="panel-heading">
      <strong><%= t('errors.header_message') %></strong>
    </div>
    <div class="panel-body">
      <strong><%= t('errors.apologies_for_the_inconvenience') %></strong>

      <% unless Rails.env.production? %>
        <%= link_to t('errors.show_details'), '#', :onclick =>
          "$('#error_details').slideDown(); $(this).fadeOut();", :id => 'show_link' %>
        <div style="display: none;" id="error_details">
          <%= link_to t('errors.hide_details'), '#', :onclick =>
            "$('#error_details').slideUp(); $('#show_link').fadeIn();" %>
          <!-- Final -->
          <h2 style="margin: 1em 0em;"><%=h error.message %></h2>
          <h3>Backtrace:</h3>
          <pre style="margin-top: .5em;"><%=h error.backtrace.join("\n") %></pre>

          <% unless params.empty? %>
          <h3 style="margin-top: 1em;">Parameters:</h3>
          <pre style="margin-top: .5em;"><%=h params.inspect %></pre>
          <% end %>
          <div style="clear: both;"></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
