<!DOCTYPE html>

<% @title ||= t(:"actioncontroller.#{controller.controller_name}") %>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title><%= t(:app_title) %> | <%= @title %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_tag do %>
      <%= yield :js_extra %>
    <% end %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="loading" style="display: none;">
      <%= image_tag 'loading.gif', :size => '43x11', :alt => t(:'messages.loading') %>
    </div>
    <div id="menu_container">
      <%= render :partial => 'shared/menu' %>
    </div>
    <div id="main_container">
      <div id="app_content">
        <%= yield %>
      </div>
      <%= render :partial => 'shared/notice' if flash[:notice] %>
      <%= render :partial => 'shared/alert' if flash[:alert] %>
    </div>
    <%= javascript_tag do %>
      <%= yield :js_extra_bottom %>
    <% end %>
  </body>
</html>
