<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<% @title ||= t("actioncontroller.#{controller.controller_name}") -%>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= t(:app_title) %> | <%= @title %></title>
    <%= stylesheet_link_tag 'common', :media => :all %>
    <%= javascript_include_tag :defaults, :cache => 'main' %>
    <%= calendar_date_select_includes 'silver', :locale => (params[:locale] || 'es') %>
    <%= yield :extra_includes -%>
    <% javascript_tag do -%>
      <%= yield :js_extra %>
    <% end -%>
  </head>
  <body>
    <div id="menu_container">
      <%= render :partial => 'shared/menu' %>
    </div>
    <div id="main_container">
      <div id="app_content">
        <%= yield %>
      </div>
      <%= render :partial => 'shared/notice' if flash[:notice] %>
      <%= render :partial => 'shared/alert' if flash[:alert] %>
    </div>
    <% javascript_tag do -%>
      <%= yield :js_extra_bottom %>
    <% end -%>
  </body>
</html>