<!doctype html>
<!--[if lt IE 8]> <html class="lt-ie8"> <![endif]-->
<!--[if gt IE 7]><!--> <html lang="<%= locale %>"> <!--<![endif]-->
<% @title ||= t("actioncontroller.#{controller.controller_name}") %>
<head>
  <meta charset="utf-8">
  <title><%= t 'app_title' %> | <%= @title %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <!--[if lt IE 8]>
    <%= stylesheet_link_tag 'application-ie', data: { turbolinks_track: true }, media: 'all' %>
  <![endif]-->
  <!--[if lt IE 9]>
  < %= javascript_include_tag 'application-ie', data: { turbolinks_track: true } %>
  <![endif]-->
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
  <%= javascript_tag do %>
    <%= raw "State.unsavedDataWarning = '#{t('message.unsaved_data_warning')}';" %>
    <%= raw "State.validationFailedMessage = '#{t('message.validation_failed_message')}';" %>
    <%= yield :js_extra %>
  <% end %>
</head>
<body data-controller="<%= controller_name %>">
  <div class="alert alert-warning hidden loading-caption">
    <strong><%= t 'navigation.loading' %></strong>
  </div>
  <div class="container">
    <%= render 'shared/menu' %>
    <%= render 'shared/flash' if flash_message.present? %>
    <%= yield %>

    <%= javascript_tag do %>
      <%= yield :js_extra_bottom %>
    <% end %>
    <%= yield :extra_html_bottom %>
  </div>
</body>
</html>
