<!DOCTYPE html>

<% @title ||= t("actioncontroller.#{controller.controller_name}") %>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= t(:app_title) %> | <%= @title %></title>
    <%= stylesheet_link_tag 'common', :media => :all %>
    <%= javascript_include_tag :defaults, :cache => 'main' %>
  </head>
  <body>
    <div id="content">
      <%= yield %>
    </div>
    <%= render :partial => 'shared/notice' if flash[:notice] %>
  </body>
</html>